.username {
  font-size: 40px;
  font-weight: bold;
  color: rgb(16, 118, 123);
  text-decoration: none;
}

.avatar {
  border-radius: 50px;
  width: 300px;
  height: auto;
}

.user {
  margin-top: 1rem;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data p {
  font-size: 18px;
  color: rgb(16, 118, 123);
  font-weight: bold;
}